@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-red-hat-display);

  /* CUSTOM COLORS (FIGMA) */
  --custom-cyan-600: #4D96A9;
  --custom-cyan-300: #8FE3F9;

  --custom-purple-600: #855FB1;
  --custom-purple-300: #D9B8FF;
  
  --custom-slate-900: #28283D;
  --custom-slate-600: #87879D;
  --custom-slate-300: #D1D1DF;
  --custom-white: #FAFAFA;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
